<!DOCTYPE html>
<html>
<head>
	<title>Emergency Zone</title>
	 <meta name="viewport" content="width=device-width">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="concluded.css">
</head>
<body>

<h2>Emergency Zone has concluded guys</h2>
<h2>Thanks for playing</h2>
<h3>Results will be announced soon</h3>



<footer><p>Developed with <span>&#9829;</span> by Tushar Shahi</p></footer>

</body>
</html>
