<!DOCTYPE html>
<html>
<head>
	<title>HOMEPAGE</title>
	<script type="text/javascript">
	var signupvalidate = function()
	{
		if(	document.getElementById('p1').value == document.getElementById('p2').value)
		{

			console.log("matching password");
			return true;
		}
		else
		{ 
			console.log("non matching password");
			return false;
		}
	}

	</script> 
</head>
<body>

	<form action="/signup" method="post" onsubmit="return signupvalidate()">

		<label>Name</label> <input type="text" name="username" required /> <br>
		<label>Delegate Card Number</label><input type="text" name="delegatecard" required /> <br>
		<label>Phone Number</label><input type="text" name="phonenumber" required /> <br> 
		<label>Registration Number</label><input type="text" name="registrationnumber" required />
		<label>Password</label><input type="password" name="password" id="p1" required /> <br>
		<label>Confirm Password</label><input type="password" name="passwordconfirm" id="p2" required /> <br> 
        <input type="submit" class="btn btn-warning btn-lg">
    
	</form>

	<form action="/login" method="post"> 
	<input type="text" name="username" required />
	<input type="password" name="password" required />
	<input type="submit" class="btn btn-warning btn-lg">
    
	</form>

</body>
</html>


