<!DOCTYPE html>
<html>
<head>

	<title>HOMEPAGE</title>
	 <meta name="viewport" content="width=device-width">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="home.css">
	<script type="text/javascript">
	//(function() {
	var formvalidity = 1;
	var check = 1;
	var signupvalidate = function()
	{
		if(formvalidity)
		{
		checklength('p1');
		if(!formvalidity) 
			{	console.log("error1");
				return false;}
		checklength('uname');
		if(!formvalidity)
						{	console.log("error1");
				return false;}
		numbersonly('delegatecardno');
		if(!formvalidity)
						{	console.log("error2");
				return false;}
		numbersonly('phoneno');
		if(!formvalidity)
						{	console.log("error3");
				return false;}
		numbersonly('regno');
		if(!formvalidity)
						{	console.log("error4");
				return false;}
		passowrdcheck();
		if(!formvalidity)
		{
			console.log("error5");
			return false;
		}

		if(!(document.getElementById('delegatecardno').value > 0 && document.getElementById('delegatecardno').value < 10000))
		{
						if(document.getElementById('delegatecarderror').className == 'hide')
						{
							console.log("it is");
						document.getElementById('delegatecarderror').className = 'show';
						}
			return false;


		}
		if(!(document.getElementById('regno').value > 100000000 && document.getElementById('regno').value < 180000000))
		{
			console.log("wrong registrationnumber");
			//document.getElementById('regerror') += 'show';	
			if(document.getElementById('regerror').className == 'hide')
						{
							console.log("it is");
						document.getElementById('regerror').className = 'show';
						}
			return false;
		}
		if(!(document.getElementById('phoneno').value>6999999999 && document.getElementById('phoneno').value < 10000000000))
		{
			console.log("invalid phonenumber");
			if(document.getElementById('phoneerror').className == 'hide')
						document.getElementById('phoneerror').className = 'show';

			return false;
		}
		else return true;
		}
		else return false;
//		if(document.getElementById('delegatecardno').value)

	}
	var errorfunc = function()
	{
			var elem = document.getElementById("errorcard");
			elem.className += "errorcardhide";

	}

	var numbersonly = function(id)
	{
		console.log(id);
		var value = document.getElementById(id).value;
		//console.log(evt.keyCode);
		//console.log(evt.which);
		var id2 = id.substring(0, id.length - 2);
		id2 = id2 + 'error';
		console.log(id2);
		console.log("value is " + value);
		if(value && !(/^\d+$/.test(value)))
			{
				document.getElementById(id2).className = 'show';
				formvalidity = 0;
				console.log("adar");
			}
		else
			{
				console.log("adar2");
				document.getElementById(id2).className = 'hide';
				formvalidity = 1;
			}
//			console.log(isnum);
	}
	var func = function()
	{
		var elem = document.getElementById("rulesscreen");
		console.log(window.getComputedStyle(elem,null).getPropertyValue("right"));
		var x = window.getComputedStyle(elem,null).getPropertyValue("right");
		//console.log(document.getElementById('rulesscreen').style.right);
		if(x != "0px")
		{
			console.log("if");
			document.getElementById('rulesscreen').className += " rulesshow";
				console.log(document.getElementsByClassName('rule'));
	//		for(int i=0;i<document.getElementsByClassName('rule').length;i++)
	//			i.className += " slideup";
		for(i=0;i<document.getElementsByClassName('rule').length;i++)
				{	console.log(i);
//					if(check==1)
//					{
					document.getElementsByClassName('rule')[i].className += " slideup";

//					}
//					else
//					{
//					document.getElementsByClassName('rule')[i].className -= " slideup";
//					check = 1;
//					}
				}

		}


		else
		{
			console.log("else");
			document.getElementById('rulesscreen').className = "rules";
			console.log(document.getElementsByClassName('rule'));
	//		for(int i=0;i<document.getElementsByClassName('rule').length;i++)
	//			i.className -= " slideup";
		
					for(i=0;i<document.getElementsByClassName('rule').length;i++)
				{	console.log(i);
//					if(check==1)
//					{
					document.getElementsByClassName('rule')[i].className = "rule";

//					}
//					else
//					{
//					document.getElementsByClassName('rule')[i].className -= " slideup";
//					check = 1;
//					}
				}

		}
/*		var i;
		for(i=0;i<document.getElementsByClassName('rule').length;i++)
				{	console.log(i);
					if(check==1)
					{
					document.getElementsByClassName('rule')[i].className += " slideup";

					}
					else
					{
					document.getElementsByClassName('rule')[i].className -= " slideup";
//					check = 1;
					}
				}
				if(check ==0) check = 1;
				else check = 0;
*/
	}

	var checklength = function(id)
	{
		var value = document.getElementById(id).value;
		var id2 = id + 'error';
		
		if(value.length < 6 && value.length > 0)
		{	formvalidity = 0;
			document.getElementById(id2).className = 'show';
			
		}
		else
		{
			formvalidity = 1;
			document.getElementById(id2).className = 'hide';
				
		}
	}
	var passowrdcheck = function()
	{
		if(	document.getElementById('p1').value!= document.getElementById('p2').value)
		{

			console.log("non matching password");
			//if(document.getElementById('passwordmismatch').className == 'hide')
			document.getElementById('passwordmismatch').className = 'show';	
			//else
			//	document.getElementById('passwordmismatch').className = 'hide';	
				
		 formvalidity = 0;
		}
		else
		{
			formvalidity = 1;
			document.getElementById('passwordmismatch').className = 'hide';	
			
		}

	}
/*
var forms = document.getElementsByTagName('form');
for (var i = 0; i < forms.length; i++) {
    forms[i].addEventListener('invalid', function(e) {
    	console.log("something is wrong")
        e.preventDefault();
        //Possibly implement your own here.
        console.log("error in " + forms[i]);
    }, true);
} */

//})();
	</script> 
</head>
<body>
	<div class="rules" id="rulesscreen">
	<a id="closebutton" onclick="func()">&times;</a>
	<h2>RULES</h2>
	<h3 class="rule">A total of 36 scenarios will be given.</h3>	
	<h3 class="rule">Each scenario will have 10 questions.</h3>
   	<h3 class="rule">Each question will have 4 options, out of which only one will be correct.</h3>
	<h3 class="rule">A participant can leave the game only after that particular scenario which he is attempting gets over lest that particular scenario will get restarted when resumes the game.</h3>
	<h3 class="rule">The point system is as follows:
		<br><h4 class="rule">+3 points for correct answers</h4>
		<br><h4 class="rule">-1 points for wrong answers</h4>
		<br><h4 class="rule">No points deducted for no attempted question</h4>
    </h3 class="rule">
    <h3 class="rule">In case of tie breaker, time is on your side</h3>
	</div>
	<div>
	<% if(error[0]) { %>
	<div id="errorcard" clas="errorcardshow">
	<a id="closebutton" onclick="errorfunc()">&times;</a>
	<h4><%= error[0] %></h4>
	</div>
	<% } else {%>
	<%}%>

	<h1>Emergency Zone</h1>

	<div id="main">
	<div id="signupform" class="formdiv">
	<h2>SIGN UP</h2>
	<form action="/signup" method="post" onsubmit="return signupvalidate()">

		<div><label>Name :</label> <input type="text" name="username" id="uname" onblur="checklength('uname')" required /> <p id="unameerror" class="hide">Insufficient Length</p> <br></div>
		<div><label>Delegate Card Number :</label><input type="text" name="delegatecard" id="delegatecardno" onblur="numbersonly('delegatecardno')" required /> <p id="delegatecarderror" class="hide">Looks invalid</p><br> </div>
		<div><label>Phone Number :</label><input type="text" name="phonenumber" id="phoneno" onblur="numbersonly('phoneno')" required /> <p id="phoneerror" class="hide">Looks invalid</p><br> </div>
		<div><label>Registration Number :</label><input type="text" name="registrationnumber" id="regno" onblur="numbersonly('regno')" required /> <p id="regerror" class="hide">Looks invalid</p><br> </div>
		<div><label>Password :</label><input type="password" name="password" id="p1" onblur="checklength('p1')" required /> <p id="p1error" class="hide">Insufficient Length</p> <br> </div>
		<div><label>Confirm Password :</label><input type="password" name="passwordconfirm" id="p2" onblur="passowrdcheck()" required /><p id="passwordmismatch" class="hide">Mismatch</p> <br> </div> 
        <div><input type="submit"> </div>
    
	</form>
	</div>
	<div id="loginform" class="formdiv">
	<h2>LOG IN</h2>
		<h5>Registered users can play the game<br> by logging in.</h5>

	<form action="/login" method="post"> 
	
		<div><label>Name :</label> <input type="text" name="username" required /> <br></div>
		<div><label>Password :</label><input type="password" name="password" required /> <br> </div>
        <div><input type="submit"> </div>
    
	</form>
	</div>
	</div>
	</div>
<div id="navbar">
<h2><a href="/leaderboard">LeaderBoard</a></h2>
<h2 style="border-left: 1px solid #fff;"><a onclick="func()">Rules</a></h2>
<!--<a href="/logout"><h2>Logout</h2></a> -->
</div>
</body>
</html>


