<!DOCTYPE html>
<html>
<head>
	<title>LEADERBOARD</title>
</head>
<body>

<h2>Leaderboard</h2>


<!--<%= users %> -->
<% users.forEach(function(user) { %>
<h4><%= user.name %></h4>
<h5><%= user.points %></h5>
<h5><%= user.delegatecard %></h5>
<% }) %>
</body>
</html>
