body
{
/*	background-color: #77A6F7; */
background-color: #4b96ae; 
background-color: #c0f1b3;
margin: 0;
padding: 20px;
}

a
{
	text-decoration: none;
	color: inherit;
}
body>h2
{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-size: 100px;
}
#maindiv
{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 800px;
	background-color: #fff;
	margin: 10px auto;
	padding: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	
}

#maindiv:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.leader
{
	width: 80%;
	margin: 10px auto;
	height: 40px;
	position: relative;
}

.leader h4, .leader h5
{
	color: #666;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	display: inline-block;
		position: absolute;
}
.leader h4
{
	left: 30px;
}
.leader h5
{
right: 40px;
}
#navbar
{
width: 240px;
font-size: 16px;
margin: 20px auto;
}
#navbar h2
{
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	text-align: center;
} 
@media screen and (max-width: 1000px)
{
body>h2
{
	font-size: 75px;
}
	#maindiv
	{
		width: 600px;
	}
}
@media screen and (max-width: 786px)
{
body>h2
{
	font-size: 60px;
}
	#maindiv
	{
		width: 500px;
	}
	#navbar
	{
		font-size: 14px;
		font-size: 300;
	}
	#navbar h2
	{
			font-weight: 200;
	}
}
@media screen and (max-width: 660px)
{
body>h2
{
	font-size: 46px;
}
	#maindiv
	{
		width: 360px;
	}
	.leader
	{
		width: 90%;
	}

}
@media screen and (max-width: 420px)
{
body>h2
{
	font-size: 38px;
}
	#maindiv
	{
		width: 300px;
	}

}
@media screen and (max-width: 360px)
{

	#maindiv
	{
		width: 240px;
	}

}
